---
---

<html lang="en" class="bg-black h-screen w-screen grid place-items-center text-stone-300">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tailwinding</title>
	</head>
	<body>
		 <div class="

                [&>*>aside:first-child]:bg-blue-800 [&>*>aside:first-child]:flex [&>*>aside:first-child]:flex-wrap  [&>*:first-child]:flex
                [&>*>aside:first-child]:p-2 *********| [(_________________________________________________________________________________)]
                [&>*>aside:first-child]:h-32  [&>*>aside:first-child]:w-[9.25rem] [&>*>aside:first-child]:gap-x-3  w-[28rem]  aspect-[19/10]
                [&>*>*>svg:nth-child(07)]:ml-[0.75rem] [(_________________________________________________________________________________)]
                [&>*>*>svg:nth-child(18)]:ml-[0.75rem] [&>*>*>svg:nth-child(40)]:ml-[0.75rem] [&>*>*>div:first-child]:w-[calc(28rem-9.5rem)]
                [&>*>*>div:nth-child(n)]:h-[1.15rem] | [(_________________________________________________________________________________)]
                [&>**>*>*>*>*>*>*>*>*>*>*>*>*>*>*>**]:w-[calc(111111111111111111111111111111111111111111111111111111111111111111111111111)]]
                [&>*:nth-child(2)>*:nth-child(2n+1)]:bg-white _________________________________________________________________________)]]
                [&>*:nth-child(2)>*:nth-child(2n)]:bg-red-700 [&>*>*>svg:nth-child(29)]:ml-[0.75rem] '111111111111111111111111111111111)]]
                [&>*>*>div:nth-child(2n)]:bg-white ____________________________________________________________________________________)]]
                [&>*>*>div:nth-child(2n+1)]:bg-red-700 [&>*:nth-child(2)]:w-[calc(28rem-0.25rem)] '111111111111111111111111111111111111)]]
                [________________________________________________________________________________________________________________________)]]
                [1111111111111 [&>*:nth-child(2)>*:nth-child(n)]:h-[1.15rem] 111111111111111111111111111111111111111111111111111111111111)]]

        ">
          <div>
            <aside>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-3 w-3" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
            </aside>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>

	</body>
</html>
